.card-container{
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(31, 41, 55, 0.08);
    padding:20px;
    border:0px;
    background-color:white;

}
.card-header{
    display:flex;
    justify-content:space-between;
    margin-bottom: 20px;
}
.card-title{
    margin-bottom: 0px;
    font-size:20px;
    color:map-get($colors ,cool-gray--700)
}
.card-content{
    background-color:black
}
.card-placeholder{
    width: 350px;
    height:175px;
    background-color: map-get($colors,cool-gray--50)
}

.card-view-background{
    background-color:map-get($colors, cool-gray--100);
    padding:40px;
}
