
body{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 100px;
}

.container-body {
  padding-top: 60px;
  padding-left: 250px;
  display: flex;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}