/*
created by: Quentin Guerrier 
created at: 10 november 2021
*/

$primary-color: "indigo"; // default: indigo
$secondary-color: "cool-gray"; // default: cool-gray
$terciary-color: "cool-gray"; // default: white

$font: ""; // default: Inter
$font-type: ""; // default: rem
