//=============================== Tab 

@mixin tab-regular {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 4px;
}

@mixin active($color) {
  background-color: $color;
  color: map-get($colors, indigo--600);
}
//============================== Hover
@mixin hover-primary($color){
  transition: 200ms;
  cursor: pointer;
  &:hover{
      transition: 200ms;
      background-color: $color
  }
}

@mixin icon($color) {
  .icon-left{
      color: $color;
      margin-right: 8px;
      font-size: 18px;
      display: block;
      width: 18px;
      height: 18px;
      margin-bottom: 2px;
  }
  .icon-right{
      color: $color;
      margin-left: 8px;
      font-size: 18px;
      display: block;
      width: 18px;
      height: 18px;
      margin-bottom: 2px;
  }
  .icon{
      color: $color;
      font-size: 18px;
      display: block;
      width: 18px;
      height: 18px;
  }
}
