/*
created by: Quentin Guerrier 
created at: 29 october 2021
*/

//================================================================ Button
$primary-button-color: map-get($colors, indigo--600);
$primary-button-hover-color: map-get($colors, indigo--400);
$primary-button-border-color: transparent;
$primary-button-text-color: map-get($colors, white);
$primary-button-icon-color: map-get($colors, white);

$secondary-button-color: map-get($colors, white);
$secondary-button-hover-color: map-get($colors, cool-gray--50);
$secondary-button-border-color: map-get($colors, cool-gray--200);
$secondary-button-text-color: map-get($colors, cool-gray--700);
$secondary-button-icon-color: map-get($colors, cool-gray--400);

$tertiary-button-color: map-get($colors, white);
$tertiary-button-hover-color: map-get($colors, indigo--50);
$tertiary-button-border-color: transparent;
$tertiary-button-text-color: map-get($colors, indigo--600);
$tertiary-button-icon-color: map-get($colors, indigo--600);
