/*
created by: Quentin Guerrier 
created at: 29 october 2021
*/

// global
@import './global/colors.scss';
@import './global/font.scss';
@import './global/reset.scss';

// User config
@import './userConfig/global.scss';
@import './userConfig/colors.scss';

// mixin
@import './mixins/global.scss';
@import "./components/button/mixin.scss";

// components
@import './components/button/button.scss';